# === Enums ===
enum {{.Name}}OrderField {
{{- range .Fields}}
{{- if isScalar .Type }}
  {{ .Name }}
{{- end}}
{{- end}}
}

input {{.Name}}OrderBy {
  field: {{.Name}}OrderField!
  direction: OrderDirection!
}