# === Input types ===
input {{.Name}}WhereInput {
{{- range .Fields}}
{{- if isScalar .Type }}
  {{ .Name }}: {{ baseType .Type }}
  {{ .Name }}_not: {{ baseType .Type }}
  {{ .Name }}_in: [{{ baseType .Type }}!]
  {{ .Name }}_not_in: [{{ baseType .Type }}!]
{{- else }}
  {{ .Name }}: {{ .Type }}WhereInput
{{- end}}
{{- end}}
}